$primaryBlue: hsl(246, 80%, 60%);
$work: hsl(15, 100%, 70%);
$play: hsl(195, 74%, 62%);
$study: hsl(348, 100%, 68%);
$exercise: hsl(145, 58%, 55%);
$social: hsl(264, 64%, 52%);
$self-care: hsl(43, 84%, 65%);
$Very-dark-blue: hsl(226, 43%, 10%);
$Dark-blue: hsl(235, 46%, 20%);
$Desaturated-blue: hsl(235, 45%, 61%);
$Pale-Blue: hsl(236, 100%, 87%);
$normal-font:18px;

body{
    background-color: $Very-dark-blue;
    color: $Pale-Blue;
    margin: 15vh 10vw;
    position: relative;
}
h1{
    font-size: 1rem;
}
h3{
    font-size: $normal-font*1.5;
}
main{
    display: grid;
    grid-template-areas: "card work play study"
    "card exercise social care";
    column-gap: $normal-font;
    row-gap: $normal-font*4;
    .card{
        background-color: $Dark-blue;
        border-radius: $normal-font;
        padding: $normal-font;
        transition: all 0.3s;
        &:hover{
            background-color: $Desaturated-blue;
            transition: all 0.3s;
        }
    }
}
.person-card{
    grid-area: card;
    img{
        width: 25%;
        border: solid 2px $Pale-Blue;
        border-radius: 50%;
        margin: $normal-font;
    }
    .info{
        background-color: $primaryBlue;
        border-radius: $normal-font;
        padding: $normal-font;
        z-index: 2;
    }
    .filters{
        background-color: $Dark-blue;
        border-radius: 0 0 $normal-font $normal-font;
        padding: $normal-font;
        list-style: none;
        z-index: 1;
        transform: translateY(-$normal-font);
        li{
            margin-bottom: $normal-font;
        }
        a{
            color: $Pale-Blue;
            text-decoration: none;
        }
    }
}
#work{
    grid-area: work;
    position: relative;
    #work-shadow{
        background-color: $work;
    }
}
#work-shadow,#play-shadow,#social-shadow,#exercise-shadow,#care-shadow,#study-shadow{
    width: 100%;
    border-radius: $normal-font $normal-font 0 0;
    position: absolute;
    top: -3rem;
    right: 0;
    z-index: -1;
    img{
        margin-left: 75%;
        opacity: 0.75;
        padding: 5px;
    }
}
#play{
    grid-area: play;
    position: relative;
    #play-shadow{
        background-color: $play;
    }
}
#study{
    grid-area: study;
    position: relative;
    #study-shadow{
        background-color: $study;
    }
}
#exercise{
    grid-area: exercise;
    position: relative;
    #exercise-shadow{
    background-color: $exercise;
}
}
#social{
    grid-area: social;
    position: relative;
    #social-shadow{
    background-color: $social;
}
}
#self-care{
    grid-area: care;
    position: relative;
    #care-shadow{
    background-color: $self-care;
}
}
.attribution{
    position: absolute;
    bottom: -5rem;
    left: 10vw;
    width: 100%;
}
@media screen and (max-width: 375px) {
    main{
        display: block;
    }
    .card{
        margin-top: 5rem;
    }
    #work-shadow,#play-shadow,#social-shadow,#exercise-shadow,#care-shadow,#study-shadow{
        img{
            margin-left: 70%;
        }
    }
    .attribution{
        bottom: -3rem;
        left: 0;
    }
}